<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE = edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			.left-nav {
			    height: 100%; 
			    width: 0; 
			    position: fixed;
			    z-index: 1; 
			    overflow-x: hidden;
			    padding-top: 60px;
			    transition: 0.5s;
			    margin-top: 50px;
			}
		</style>
		{% block header_js %}{% endblock %}
		{% block css_sheets %}{% endblock %}
	</head>
	<body>		
		<nav id="top-naivation" class="navbar navbar-inverse navbar-custom">
	        <div class="container">
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse-1">
	                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
	                </button>
	                <a class="navbar-brand" href="#page-top">Sureify Football Arena</a>
	            </div>
            
	            <div class="collapse navbar-collapse" id="top-nav-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden">
	                        <a href="#page-top"></a>
	                    </li>	                    
	                    <li class="page-scroll">
	                        <a href="#about">About</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="#contact">Contact</a>
	                    </li>
	                </ul>
	            </div>
	        </div>	        
	    </nav>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-2">
	    			<div id="left-navigation-panel" class="left-nav">
						
					</div>		
	    		</div>
	    		<div class="col-md-8">
	    			{% block content %}
					{% endblock %}			
	    		</div>
	    	</div>			
		</div>		
		{% block js_scripts %}
		{% endblock %}
	</body>
</html>